.Data {
      padding: 2.8rem 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

.Data__Title {
      text-align: center;
      padding: .5rem 0 2rem 0;
      width: 30%;
}
.Data__Title h3 {
      font-size: 1.8em;
      padding: 1.2rem 0;
      border-bottom: 1px solid rgb(43, 40, 71);
      letter-spacing: .5rem;
      font-weight: 500;
}

.Data__Table {
      border-collapse: separate;
      border-spacing: 0;
      width: 90%;
}

.Data__Table th {
      background-color: rgb(43, 40, 71);
      color: #FFF;
      text-align: center;
      padding: .8rem 1.2rem;
}

.Data__Table th:first-child {
      border-top-left-radius: .6rem;
}
.Data__Table th:last-child {
      border-top-right-radius: .6rem;
}

.Data__Table td {
      padding: .6rem 1.2rem;
      box-sizing: content-box;
      border-bottom: 1px solid rgb(208, 221, 233);
}